//color pallet primary
$color-blue-dark: #242582;
$color-red-dark: #553D67;
$color-pink: #F64C72;
$color-red-light: #99739E;
$color-blue-light: #2f2FA2;

//color pallet
$color-red: #E27D60;
$color-blue: rgba(126,195,176,1);
$color-orange: #c5b358;
$color-violet: #C38D9E;
$color-green: #41B3A3;

//colors default for text
$text: #5b556b;
$text-title: #35313e;

// default font size
$base-font-size: 16px;

//spacing
$spacing-xxs: 10px;
$spacing-xs: 14px;
$spacing-s: 18px;
$spacing-m: 24px;

//breakpoints used for media queries
$breakpoint-xs: 360px;
$breakpoint-s: 425px;
$breakpoint-card-m: 590px; //change it
$breakpoint-m: 768px;
$breakpoint-l: 1024px;

//shadows for buttons and cards
$tiny-element-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
$small-element-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 6px 15px rgba(0, 0, 0, 0.15);
$large-shadow-darker-card: 20px -40px 70px rgba(0, 0, 0, 0.25);
$large-shadow-darker: 5px 5px 70px rgba(0, 0, 0, 0.3);


//easy
$ease-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.720, 0.210, 0.050, 1.495);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-quart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$ease-in-quart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$ease-in-out-quart: cubic-bezier(0.3, 0.29, 0, 0.99);
$easy-intro-card: cubic-bezier(0.075, 0.82, 0.165, 1);
