<section class="footer" style="height: 50vh;background-color: black">
  <div class="footer-top-holder">
    <div class="footer-top-inner grid-top">
      <div class="grid-row">

      </div>
    </div>
  </div>
  <div class="footer-bottom-holder">
    <div class="footer-bottom-inner full-width">
      <div class="footer-grid clear-table">
        <div class="grid-col-4 clear-table">
          <span style="color: white; font-family: 'Raleway', sans-serif" >Foodie</span>
        </div>
        <div class="grid-col-4 clear-table">
          <span style="color: white; font-family: 'Raleway', sans-serif">Copyright @2018 Foodie</span>
        </div>
        <div class="grid-col-4 clear-table">
          <div class="social-area">
            <span>FOLLOW US</span>
            <!-- Facebook -->
            <a href=""><i class="fab fa-facebook-f"> </i></a>
            <!-- Twitter -->
            <a href=""><i class="fab fa-twitter"> </i></a>
            <!--Instagram-->
            <a href=""><i class="fab fa-instagram"> </i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
