<div class="popular-restaurants">
  <div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <div class="slider__inner">
      {% for card in cards %}
        {% component 'card', card %}
      {% endfor %}
    </div>
  </div>
</div>
