<header data-module="header/header">
  <nav class="navigation-bar" >
    <!--Add logo-->
    <div class="logo">
      <a href="home">
        <img id="logo-white" class="logo-white" src="/../../static/img/logo-white.png">
        <img class="logo-dark" src="/../../static/img/lohoRE.png">
      </a>
    </div>
    <ul>
      <li class="link"><a class="md-trigger" data-modal="modal-1"><span >Log In/Register</span><i id="icon-user-log" class="fas fa-user-plus"></i></a></li>
    </ul>
  </nav>
</header>

{% component "modal-form-1" %}


