<div class="button-group filters-button-group">
  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter="International">International</button>
  <button class="button" data-filter="Mexican">Mexican</button>
  <button class="button" data-filter="numberGreaterThan5">rating > 5</button>
  <button class="button" data-filter="numberGreaterThan8">rating > 8</button>
</div>

