<label class="field a_field a1">
  <div class="text-box-group">
      <input type="{{ type }}" class="field-input a-field-input" placeholder="{{ placeholder }}" required>
    <span class="a-field-wrap">
      <span class="a-field-label">{{ labelName }}</span>
    </span>
  </div>
</label>
